<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Adhoc Fee
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
						<span class="m-nav__link-text">
							Adhoc Fee
						</span>
					</a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
						<span class="m-nav__link-text">
							{{ params ? 'edit' : 'add' }}
						</span>
					</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        {{ params ? 'Edit Adhoc Fee' : 'Add Adhoc Fee' }}
                    </h3>
                </div>
            </div>
            <label class="requiredFieldNote">Note: &nbsp;&nbsp;<b>*</b>&nbsp;&nbsp; indicates Required Fields</label>
        </div>

        <!--begin::Form-->
        <form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(adhocFeeForm)"
            [formGroup]="adhocFeeForm">
            <div class="m-portlet__body formPortletBody">

                <div class="form-group m-form__group row">
                    <label class="col-2 col-form-label" for="example-text-input">
                            Adhoc Fee Name <span class="requiredField">*</span>
                        </label>
                    <div class="col-5">
                        <input class="form-control m-input" type="text" formControlName="adhocfeeName" name="adhocfeeName">
                        <div class="alertMsg" *ngIf="adhocFeeForm.get('adhocfeeName').hasError('required') && adhocFeeForm.get('adhocfeeName').touched">
                            Please enter Adhoc Fee Name
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-2 col-form-label" for="example-text-input">
                            Adhoc Fee Description <span class="requiredField">*</span>
                        </label>
                    <div class="col-5">
                        <textarea class="form-control m-input" rows="3" style="resize:none;" formControlName="adhocfeeDescription" name="adhocfeeDescription"></textarea>
                        <div class="alertMsg" *ngIf="adhocFeeForm.get('adhocfeeDescription').hasError('required') && adhocFeeForm.get('adhocfeeDescription').touched">
                            Please enter Description
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-2 col-form-label" for="example-text-input">
                            Due Date <span class="requiredField">*</span>
                        </label>
                    <div class="col-5">
                        <p-calendar [style]="{'width':'100%'}" placeholder="Due date" formControlName="dueDate" name="dueDate" [minDate]='minDueDate'
                            [monthNavigator]="true" [yearNavigator]="true" yearRange="1900:2070" readonlyInput="true"></p-calendar>
                        <div class="alertMsg" *ngIf="adhocFeeForm.get('dueDate').hasError('required') && adhocFeeForm.get('dueDate').touched">
                            Please enter Due Date
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-2 col-form-label" for="example-text-input">
                           Invoice Detail Text
                        </label>
                    <div class="col-5">
                        <input class="form-control m-input" type="text" formControlName="invoiceDetailText" name="invoiceDetailText">
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-2 col-form-label" for="example-text-input">
                            Invoice Description<span class="requiredField">*</span>
                        </label>
                    <div class="col-5">
                        <input class="form-control m-input" type="text" formControlName="invoiceDescription" name="invoiceDescription">
                        <div class="alertMsg" *ngIf="adhocFeeForm.get('adhocfeeName').hasError('invoiceDescription') && adhocFeeForm.get('invoiceDescription').touched">
                            Please enter Invoice Description
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label class="col-2 col-form-label" for="example-text-input">
                            Charges <span class="requiredField">*</span>
                        </label>
                    <div class="col-5">
                        <input class="form-control m-input" type="number" formControlName="adhocFeeCharges" name="adhocFeeCharges">
                        <div class="alertMsg" *ngIf="adhocFeeForm.get('adhocFeeCharges').hasError('required') && adhocFeeForm.get('adhocFeeCharges').touched">
                            Please enter Charges
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">
                            Class <span class="requiredField">*</span>
                        </label>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4 schoolCheckList" *ngFor="let class of getArray('classes').controls; let i=index">
                                <label class="m-checkbox">
                                        <input type="checkbox" [formControl]="class"/>
                                        <span></span>
                                        {{classList[i].className}}
                                    </label>
                            </div>
                        </div>
                        <div class="alertMsg" *ngIf="isSubmitted && !isClassSelected">
                            Please select at least one class
                        </div>
                    </div>
                </div>
                <div class="form-group m-form__group row">
                    <label for="example-text-input" class="col-md-2 col-form-label">
                            Category <span class="requiredField">*</span>
                        </label>
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-4 schoolCheckList" *ngFor="let category of getArray('categories').controls; let i=index">
                                <label class="m-checkbox">
                                        <input type="checkbox" [formControl]="category"/>
                                        <span></span>
                                        {{categoryList[i].categoryName}}
                                    </label>
                            </div>
                        </div>
                        <div class="alertMsg" *ngIf="isSubmitted && !isCategorySelected">
                            Please select at least one category
                        </div>
                    </div>
                </div>
            </div>
            <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                <div class="m-form__actions m-form__actions--solid">
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [ngClass]="adhocFeeForm.invalid ?'cursorNotAllowed':'cursorPointer'"
                                title="{{ adhocFeeForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}"
                                [disabled]="adhocFeeForm.invalid" [isAuthorize]="['Adhocfee.Create', 'Adhocfee.Update']">
                                   {{ params ? 'Update' : 'Save' }}
                                </button>
                            <button type="button" class="btn btn-secondary" (click)="onCancel()">
                                    Cancel
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--end::Form-->
    </div>
</div>