<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Categories Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Categories
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							List
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Categories List
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
				<div class="row align-items-center">
					<div class="col-xl-8 order-2 order-xl-1">
						
					</div>
					<div class="col-xl-4 order-1 order-xl-2 m--align-right">

						<a href="javascript:;" (click)="onAddCategory()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" [isAuthorize]="['Category.Create']">
							<span>
								<i class="la la-cart-plus"></i>
								<span>
									Add Categories
								</span>
							</span>
						</a>
						<div class="m-separator m-separator--dashed d-xl-none"></div>
					</div>
				</div>
			</div>
			<!--end: Search Form -->
			<!--begin: Datatable -->
			
			<p-dataTable [value]="categoriesList | async" [responsive]="true" [rows]="2" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[2,4,6]">
				<p-column field="CategoryId" header="Category Id"></p-column>
				<p-column field="SchoolId" header="SchoolId"></p-column>
				<p-column field="CategoryName" header="Category Name"></p-column>
				<p-column field="CategoryDescription" header="Category Description"></p-column>
				<p-column header="Edit">
					<ng-template let-category="rowData" pTemplate type="body">
						<a href="javascript:;" (click)="onManageCategoryClick(category)" class="m-link m-link--focus m-login__account-link" [isAuthorize]="['Category.Update']">
							Edit
						</a>
					</ng-template>
				</p-column>
				<p-column header="Delete">
					<ng-template let-category="rowData" pTemplate type="body">
						<a href="javascript:;" (click)="onCategoryDeleteClick(category)" class="m-link m-link--focus m-login__account-link" [isAuthorize]="['Category.Delete']">
							Delete
						</a>
					</ng-template>
				</p-column>
			</p-dataTable>
			<!--end: Datatable -->
		</div>
	</div>
</div>