<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Fees Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Fees
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Add/Edit Fees
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Add/Edit Fees
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<div class="row">
						<div class="col-md-6">
							<div class="portlet light bordered legends-portlet">
								<div class="portlet-body">
									<form class="form-horizontal" role="form" novalidate (ngSubmit)="onSubmit(feesForm)" [formGroup]="feesForm">
										<div class="form-group m-form__group">
											<label for="categoryId" class="col-md-4 control-label">School Id</label>
											<div class="col-md-8">
												<p-dropdown [options]="feeHeadIdList" [style]="{'width':'100%'}" formControlName="FeeHeadId" name="FeeHeadId"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('FeeHeadId').hasError('required') && feesForm.get('FeeHeadId').touched">
													Please select Fee Head Id
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="schoolId" class="col-md-4 control-label">School Id</label>
											<div class="col-md-8">
												<p-dropdown [options]="schoolIdList" [style]="{'width':'100%'}" formControlName="SchoolId" name="SchoolId"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('SchoolId').hasError('required') && feesForm.get('SchoolId').touched">
													Please select School Id
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="frequencyId" class="col-md-4 control-label">Frequency Id</label>
											<div class="col-md-8">
												<p-dropdown [options]="frequencyIdList" [style]="{'width':'100%'}" formControlName="FrequencyId" name="FrequencyId"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('FrequencyId').hasError('required') && feesForm.get('FrequencyId').touched">
													Please select Frequency Id
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="isAddHoc" class="col-md-4 control-label">Is AdHoc?</label>
											<div class="col-md-8">
												<p-dropdown [options]="isAddHocList" [style]="{'width':'100%'}" formControlName="IsAddHoc" name="IsAddHoc"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('IsAddHoc').hasError('required') && feesForm.get('IsAddHoc').touched">
													Is AddHoc?
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="standardId" class="col-md-4 control-label">Standard Id</label>
											<div class="col-md-8">
												<p-dropdown [options]="standardIdList" [style]="{'width':'100%'}" formControlName="StandardId" name="StandardId"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('StandardId').hasError('required') && feesForm.get('StandardId').touched">
													Please select Standard Id
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="categoryId" class="col-md-4 control-label">Category Id</label>
											<div class="col-md-8">
												<p-dropdown [options]="categoryIdList" [style]="{'width':'100%'}" formControlName="CategoryId" name="CategoryId"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('CategoryId').hasError('required') && feesForm.get('CategoryId').touched">
													Please select Category Id
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="isApproved" class="col-md-4 control-label">Is Approved?</label>
											<div class="col-md-8">
												<p-dropdown [options]="isApprovedList" [style]="{'width':'100%'}" formControlName="IsApproved" name="IsApproved"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('IsApproved').hasError('required') && feesForm.get('IsApproved').touched">
													Is Approved?
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="currencyId" class="col-md-4 control-label">Currency Id</label>
											<div class="col-md-8">
												<p-dropdown [options]="currencyIdList" [style]="{'width':'100%'}" formControlName="CurrencyId" name="CurrencyId"></p-dropdown>
												<div class="alertMsg" *ngIf="feesForm.get('CurrencyId').hasError('required') && feesForm.get('CurrencyId').touched">
													Please select Currency Id
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="isApprovedBy" class="col-md-4 control-label">Is Approved By</label>
											<div class="col-md-8">
												<input type="text" formControlName="IsApprovedBy" name="FeeHeIsApprovedByadCharges" class="form-control" placeholder="Enter Fee Head Charges">
												<div class="alertMsg" *ngIf="feesForm.get('IsApprovedBy').hasError('required') && feesForm.get('IsApprovedBy').touched">
													Is Approved By?
												</div>
											</div>
										</div>
										<div class="form-group m-form__group">
											<label for="feeHeadCharges" class="col-md-4 control-label">Fee Head Charges</label>
											<div class="col-md-8">
												<input type="text" formControlName="FeeHeadCharges" name="FeeHeadCharges" class="form-control" placeholder="Enter Fee Head Charges">
												<div class="alertMsg" *ngIf="feesForm.get('FeeHeadCharges').hasError('required') && feesForm.get('FeeHeadCharges').touched">
													Please enter Fee Head Charges
												</div>
											</div>
										</div>
										<div class="form-group ">
											<div class="col-md-offset-2 col-md-10">
												<button pButton type="submit" label="Save" [disabled]="feesForm.invalid"></button>
												<button pButton type="button" label="Cancel" (click)="onCancel()"></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Section-->
		</div>
	</div>
</div>