<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Users
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Users
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							add-edit
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								User Add/Edit
							</h3>
						</div>

					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-section__content">
                             <div class="row">
                                <div class="col-md-6">
                                    <div class="portlet light bordered legends-portlet">
                                    <div class="portlet-body">
                                        <form class="form-horizontal" role="form" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">UserName</label>
                                            <div class="col-md-10">
                                            <input type="text" formControlName="UserName" name="userName" class="form-control">
                                            <div class="alert alert-danger" *ngIf="userForm.get('UserName').hasError('required') && userForm.get('UserName').touched">
                                                Please enter UserName
                                            </div>
                                            </div>
                                            </div>
                                                <div class="form-group">
                                                <label class="col-md-2 control-label">Password</label>
                                                <div class="col-md-10">
                                                <input type="text" formControlName="Password" name="password" class="form-control">
                                                <div class="alert alert-danger" *ngIf="userForm.get('Password').hasError('required') && userForm.get('Password').touched">
                                                    Please enter Password
                                                </div>
                                                </div>
                                            </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                            <button pButton type="submit" label="Save" [disabled]="userForm.invalid"></button>
                                            <button pButton type="button" label="Cancel" (click)="onCancel()"></button>
                                            </div>
                                        </div>
                                        </form>
                                    </div>
                                    </div>
                                </div>
                            </div> 
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>