<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Users
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Users
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							add-edit
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
		<!--begin::Portlet-->
			<div class="m-portlet m-portlet--tab">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<span class="m-portlet__head-icon m--hide">
								<i class="la la-gear"></i>
							</span>
							<h3 class="m-portlet__head-text">
								User Add/Edit
							</h3>
						</div>
					</div>
				</div>
				<!--begin::Form-->
				<form class="m-form m-form--fit m-form--label-align-right" role="form" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
					<div class="m-portlet__body">
						<div class="form-group m-form__group">
							<label for="userName">
								User Name
							</label>
							<input type="text" formControlName="username" name="userName" id="userName" class="form-control m-input" placeholder="User Name">
							<div class="alert alert-danger" *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">
								Please enter UserName
							</div>
						</div>
						<div class="form-group m-form__group">
							<label for="email">
								Email
							</label>
							<input type="text" formControlName="email" name="email" class="form-control"  placeholder="Email">
							<div class="alert alert-danger" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
								Please enter Email
							</div>
						</div>	
					</div>
					<div class="m-portlet__foot m-portlet__foot--fit">
						<div class="m-form__actions">
							 <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid" [isAuthorize]="['user.Update', 'user.Create']">
								Submit
							</button>
							<button type="button" class="btn btn-secondary" (click)="onCancel()">
								Cancel
							</button> 							
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>