<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Users
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Users
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
						{{ params ? 'edit' : 'add' }}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{ params ? 'Edit User' : 'Add User' }}
					</h3>
				</div>
			</div>
			<label class="requiredFieldNote">Note: &nbsp;&nbsp;<b>*</b>&nbsp;&nbsp; indicates Required Fields</label>
		</div>

		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(userForm)" [formGroup]="userForm">
			<div class="m-portlet__body formPortletBody">
				<div class="form-group m-form__group m--margin-top-10 m--hide">
					<div class="alert m-alert m-alert--default" role="alert">
						The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
						classes.
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2 col-form-label">
							User Name <span class="requiredField">*</span>
					</label>					
					<div class="col-md-5">
						<input class="form-control m-input" type="text" value="" formControlName="username" name="userName" id="userName" placeholder="User Name">
						<div class="alertMsg" *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">
								Please enter User Name
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2 col-form-label">
							User Email <span class="requiredField">*</span>
					</label>
					<div class="col-md-5">
						<input class="form-control m-input" type="text" value="" formControlName="email" name="email" placeholder="Email" maxlength="254">
						<div class="alertMsg" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
							Please enter Email
						</div>
						<div class="alertMsg" *ngIf="!userForm.get('email').hasError('required') && userForm.get('email').hasError('email') && userForm.get('email').touched">
							Please enter valid Email
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2 col-form-label">
							Contact
					</label>
					<div class="col-md-5">
						<input class="form-control m-input" type="text" formControlName="phone" name="contact" placeholder="Contact" maxlength="15">
						<div class="alertMsg" *ngIf="userForm.get('phone').hasError('required') && userForm.get('phone').touched">
							Please enter Contact Number
						</div>
						<div class="alertMsg" *ngIf="!userForm.get('phone').hasError('required') && userForm.get('phone').hasError('pattern') && userForm.get('phone').touched">
							Please enter valid phone number
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row" *ngIf="(userRole == 'SuperAdmin') && (!hideInstituteAndSchool)">
					<label class="col-md-2 col-form-label" for="example-text-input">
						Institute <span class="requiredField">*</span>
					</label>
					<div class="col-md-5">
						 <select class="form-control" formControlName="institute" (change)="onChangeInstitutes($event.target.value)">
							<option [value]="null" >Select</option>
							<option *ngFor="let institute of instituteList" [value]="institute.id">{{institute.instituteName}}</option>
						</select>
						<div class="alertMsg" *ngIf="userForm.get('institute').hasError('required') && userForm.get('institute').touched">
							Please select institute
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row"  *ngIf="(userRole == 'SuperAdmin') && (!hideInstituteAndSchool)">
					<label class="col-md-2 col-form-label" for="example-text-input">
						School <span class="requiredField">*</span>
					</label>
					<div class="col-md-5">					
						<div class="row">
							<div  class="col-6 schoolCheckList" *ngFor="let school of schools.controls; let i=index">
								<label class="m-checkbox">
									<input type="checkbox" [formControl]="school"/>
									<span></span>
									{{schoolList[i].schoolName}}
								</label>
							</div>							
						</div>
						<div class="alertMsg alertUser" *ngIf="selectedSchoolsValidationError == true">
							Please select at least one school
						</div>
						<div class="alertMsg alertUser" *ngIf="selectedSchoolsValidationError != true && schoolList.length == 0 && userForm.get('institute').value == ''">
							Please select Institute to get schools
						</div>
						<div class="alertMsg alertUser" *ngIf="selectedSchoolsValidationError != true && schoolList.length == 0 && userForm.get('institute').value != ''">
							Selected Institute is not having any school
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label class="col-md-2 col-form-label" for="example-text-input">
						Role <span class="requiredField">*</span>
					</label>
					<div class="col-md-5">
						<select class="form-control" formControlName="role" (change)="onRoleClick()">
							<option [ngValue]="null" >Select</option>
							<option *ngFor="let role of roleList" [ngValue]="role.id">{{role.displayName}}</option>
						</select>
					</div>
				</div> 
				<!-- <div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
							Active
					</label>
					<div class="col-2" style="padding-top: 5px;">
						<label class="m-checkbox">
							<input type="checkbox">												
							<span></span>
						</label>
					</div>
				</div> -->
				<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions--solid">
						<div class="row">
							<div class="col-lg-6">
								<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [ngClass]="userForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ userForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="userForm.invalid" [isAuthorize]="['User.Update', 'User.Create']">
										{{ params ? 'Update' : 'Save' }}
								</button>
								<button type="reset" class="btn btn-secondary" (click)="onCancel()">
										Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->
	</div>
</div>