<div class="m-subheader">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Invoice
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a href="#" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
                        <span class="m-nav__link-text">
                            Invoice
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a class="m-nav__link">
                        <span class="m-nav__link-text">
                            Summary
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">

    <!--begin:: Widgets/Stats-->
    <div class="m-portlet ">
        <div class="m-portlet__body  m-portlet__body--no-padding">
            <br>
            <br>
            <div class="invoiceContainer">
                <div class="invoiceHeader">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="invoiceMainHeading">INVOICE &nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="m-badge  m-badge--success m-badge--wide" style="font-size:10px;margin-top: -2px;">{{invoice.status}}</span>
                            </h3>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <div class="col-md-2 alignRight">

                        </div>

                        <div class="col-md-3 alignRight">
                            <div class="invoiceLabelBox">
                                <h6>Invoice No.</h6>
                                <h5>
                                    <b style="font-weight:500;font-style:italic;">{{invoice.invoiceNumber}}</b>
                                </h5>
                            </div>
                        </div>
                    </div>

                    <div class="row invoiceRow">
                        <div class="col-md-4">
                            <div class="invoiceLabelBox">
                                <h6>Invoice For</h6>
                                <h5>Student Name : {{invoice.studentData?invoice.studentData.studentFirstName+' '+invoice.studentData.studentLastName:''}}</h5>
                                <h5>ID : {{invoice.studentData?invoice.studentData.studentCode:''}}</h5>
                                <h5>Class : {{invoice.studentData?invoice.studentData.StudentClass.className:''}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    Division : {{invoice.studentData?invoice.studentData.StudentDivision.divisionName:''}}</h5>
                                <h5>Category : {{invoice.studentData?invoice.studentData.StudentCategory.categoryName:''}}</h5>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="invoiceLabelBox">
                                <h6>Description</h6>
                                <h5>{{invoice.desc}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="row invoiceRow">

                        <div class="col-md-2">
                            <div class="invoiceLabelBox">
                                <h6>Date</h6>
                                <h5>{{ invoice.dueDate? (invoice.createdOn | date: 'MM/dd/yyyy'):'' }}</h5>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="invoiceLabelBox">
                                <h6>Paid On</h6>
                                <h5>{{invoice.paymentDate | date: 'MM/dd/yyyy'}}</h5>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="invoiceLabelBox">
                                <h6>Settled On</h6>
                                <h5>{{invoice.settlementDate | date: 'MM/dd/yyyy'}}</h5>
                            </div>
                        </div>

                    </div>

                    <div class="row invoiceRow">
                        <div class="col-md-2">
                            <div class="invoiceLabelBox">
                                <h6>Due Date
                                    <i class="la la-edit invoiceEdit"></i>
                                </h6>
                                <input type="radio" name="statusDueDate" (click)="onStatusDueDateClick()" (blur)="onStatusDueDateClick()"  [(ngModel)]="radioVal"  value="1" />
                                <p-calendar dateFormat="mm-dd-yy" [style]="{'width':'100%'}" [(ngModel)]="invoice.dueDate" name="dueDate" [minDate]='minEndDate'
                                    placeholder="Due date" readonlyInput="true" [monthNavigator]="true" [yearNavigator]="true"
                                    [disabled]="currentStatus!='Processed' || radioVal!=1" yearRange="2000:2050" class="dueDateBox"></p-calendar>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="invoiceLabelBox">
                                <h6>Status
                                    <i class="la la-edit invoiceEdit"></i>
                                </h6>
                                <input type="radio" name="statusDueDate" (click)="onStatusDueDateClick()" (blur)="onStatusDueDateClick()" [(ngModel)]="radioVal" value="2" />
                                <h5 *ngIf="radioVal!=2">{{invoice.status}}</h5>
                                <select class="form-control m-input invoiceText" (change)="onStatusChange()" [(ngModel)]="currentStatus" *ngIf="radioVal==2" [disabled]="invoice.status!='Processed'">
                                    <option value="Paid">Paid</option>
                                    <option value="Closed">Closed</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6" *ngIf="currentStatus=='Paid' && statusChanged && radioVal==2">
                            <div class="invoiceLabelBox">
                                <h6>Status Description</h6>
                                <input type="text" name="statusdesc" [(ngModel)]="invoice.statusDesc" />
                            </div>
                        </div>


                    </div>



                </div>

                <div class="invoiceBody">
                    <table class="table invoiceTable">
                        <tbody>
                            <tr>
                                <th>
                                    Fee Heads
                                </th>
                                <th>
                                    Amount
                                    <span class="invoiceSubTh">(In rupees)</span>
                                </th>
                            </tr>
                            <tr *ngFor='let row of invoice.invoiceDetails'>
                                <td>
                                    {{row.feeHeadName}}
                                </td>
                                <td>
                                    {{row.chargeAmount}}
                                </td>
                            </tr>

                        </tbody>
                    </table>

                    <!-- Total -->
                    <div class="invoiceTotalBox">
                        <span>Total Due &nbsp;&nbsp; : &nbsp;&nbsp;</span> Rs. {{invoice.totalChargeAmount}}
                    </div>

                    <hr>

                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                        <div class="m-form__actions m-form__actions--solid">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- *ngIf="invoice.status=='Processed'" -->
                                    <button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [disabled]="invoice.status!='Processed'" [isAuthorize]="['Invoice.Update']"
                                        (click)="updateInvoice()">
                                        Update
                                    </button>
                                    <button type="button" class="btn btn-secondary" (click)="cancelInvoice()">
                                        Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
        </div>
    </div>
</div>