<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Frequency Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Frequency
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							{{ params ? 'edit' : 'add' }}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{ params ? 'Edit Frequency' : 'Add Frequency' }}
					</h3>
				</div>
			</div>
			<label class="requiredFieldNote">Note: &nbsp;&nbsp;<b>*</b>&nbsp;&nbsp; indicates Required Fields</label>
		</div>

		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-left m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(frequencyForm)"
		 [formGroup]="frequencyForm">
			<div class="m-portlet__body formPortletBody">
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2 col-form-label">
						Frequency Name
						<span class="requiredField">*</span>
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="frequencyName" name="frequencyName" id="frequencyName" maxlength="100"
						 placeholder="Frequency Name">
						<div class="alertMsg" *ngIf="frequencyForm.get('frequencyName').hasError('required') && (frequencyForm.get('frequencyName').touched)">
							Please enter Frequency Name
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2  col-form-label">
						Frequency Value
						<span class="requiredField">*</span>
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="number" formControlName="frequencyValue" name="frequencyValue" id="frequencyValue"
						 maxlength="5" placeholder="Frequency Value">
						<div class="alertMsg" *ngIf="frequencyForm.get('frequencyValue').hasError('required') && (frequencyForm.get('frequencyValue').touched)">
							Please enter Frequency Value
						</div>
					</div>
				</div>
			</div>
			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-6">
							<button type="submit" [isAuthorize]="['Frequency.Update', 'Frequency.Create']" [ngClass]="frequencyForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ frequencyForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [disabled]="frequencyForm.invalid" class="btn btn-accent m-btn m-btn--air m-btn--custom float-right">
								{{ params ? 'Update' : 'Save' }}
							</button>						
							<button type="reset" class="btn btn-secondary" (click)="onCancel()">
								Cancel
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->

	</div>
</div>