<!-- BEGIN: Left Aside -->
<button class="m-aside-left-close  m-aside-left-close--skin-dark" id="m_aside_left_close_btn" appunwraptag="">
	<i class="la la-close"></i>
</button>
<div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark">
	<!-- BEGIN: Aside Menu -->
	<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true"
	 data-menu-scrollable="false" data-menu-dropdown-timeout="500">
		<ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/index" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Dashboard
							</span>
							<span class="m-menu__link-badge">
								<span class="m-badge m-badge--danger">
									2
								</span>
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__section" *ngIf = "userRole=='SuperAdmin'">
				<h4 class="m-menu__section-text">
					Admin
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__section">
				<h4 class="m-menu__section-text">
					Main Menu
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/features/school/list" class="m-menu__link">
					<i class="m-menu__link-icon la la-bank"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								School Management
							</span>
						</span>
					</span>
				</a>
			</li> -->
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
			 data-menu-submenu-toggle="hover" [isAuthorize]="['Institute.Read', 'School.Read']">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-bank"></i>
					<span class="m-menu__link-text">
						School Management
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item " routerLinkActive="m-menu__item--active" aria-haspopup="true" [isAuthorize]="['Institute.Read']">
							<a routerLink="/features/institute/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Institutes
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['School.Read']">
							<a routerLink="/features/school/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											School
										</span>
									</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['User.Read']">
				<a routerLink="/features/users/list" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-users"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								User Management
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['Report.Read']">
				<a routerLink="/features/reports" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-line-graph"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Reports
							</span>
						</span>
					</span>
				</a>
			</li>
			<!-- <li class="m-menu__section">
				<h4 class="m-menu__section-text">
					Components
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li> -->
			<!-- <li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/features/masterManagement" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-user-settings"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Masters Management
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/features/configuration" class="m-menu__link">
					<i class="m-menu__link-icon	la 	la-gears"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Configuration
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/features/archival" class="m-menu__link">
					<i class="m-menu__link-icon la la-archive"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Archival
							</span>
						</span>
					</span>
				</a>
			</li> -->
			<li class="m-menu__section" *ngIf = "userRole =='SchoolAdmin'">
				<h4 class="m-menu__section-text">
					School Admin
				</h4>
				<i class="m-menu__section-icon flaticon-more-v3"></i>
			</li>
			<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['ProcessFee.Read']">
				<a routerLink="/features/feeProcessing" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-share"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Fees Processing
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['Role.Read']">
				<a routerLink="/features/roles/list" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-users"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Roles and Permissions
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['user.Read']">
				<a routerLink="/features/users/list" class="m-menu__link">
					<i class="m-menu__link-icon flaticon-users"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								User Management
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
			 data-menu-submenu-toggle="hover" [isAuthorize]="['Category.Read', 'Payment.Read', 'AcadamicYear.Read', 'Board.Read', 'Class.Read']">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-bank"></i>
					<span class="m-menu__link-text">
						Master Management
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['Category.Read']">
							<a routerLink="/features/masterManagement/categories" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Categories
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['Payment.Read']">
							<a routerLink="/features/masterManagement/paymentFrequency" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Payment Frequency
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['AcadamicYear.Read']">
							<a routerLink="/features/masterManagement/academicYear" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Academic Year
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['Board.Read']">
							<a routerLink="/features/board/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Board
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['Class.Read']">
							<a routerLink="/features/masterManagement/class" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Class
										</span>
									</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--active" routerLinkActive="m-menu__item--active" aria-haspopup="true"
			 data-menu-submenu-toggle="hover" [isAuthorize]="['Feehead.Read', 'Feeplan.Read', 'Transport.Read']">
				<a href="#" class="m-menu__link m-menu__toggle">
					<i class="m-menu__link-icon la la-bank"></i>
					<span class="m-menu__link-text">
						Fee Management
					</span>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu">
					<span class="m-menu__arrow"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['Feehead.Read']">
							<a routerLink="/features/fees/list" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Fee Heads
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['Feeplan.Read']">
							<a routerLink="/features/fees/plan" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Fee Plans
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item " aria-haspopup="true" routerLinkActive="m-menu__item--active" [isAuthorize]="['Transport.Read']">
							<a routerLink="/features/fees/transport" class="m-menu__link">
								<i class="m-menu__link-bullet m-menu__link-bullet--dot">
									<span></span>
								</i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Transport
										</span>
									</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['Student.Read']">
				<a routerLink="/features/student/list" class="m-menu__link">
					<i class="m-menu__link-icon	la 	la-gears"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Student Management
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['Report.Read']">
				<a routerLink="/features/reports" class="m-menu__link">
					<i class="m-menu__link-icon la la-archive"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Reports
							</span>
						</span>
					</span>
				</a>
			</li>
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true" [isAuthorize]="['Feature.Read']">
				<a routerLink="/features/featureList" class="m-menu__link">
					<i class="m-menu__link-icon la la-archive"></i>
					<span class="m-menu__link-title">
						<span class="m-menu__link-wrap">
							<span class="m-menu__link-text">
								Features
							</span>
						</span>
					</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- END: Aside Menu -->
</div>
<!-- END: Left Aside -->