<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				School Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Schools
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Add/Edit School
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Add/Edit School
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin::Section-->
			<div class="m-section">
				<div class="m-section__content">
					<div class="row">
						<div class="col-md-12">
							<div class="portlet light bordered legends-portlet">
								<div class="portlet-body">
									<form class="form-horizontal" role="form" novalidate (ngSubmit)="onSubmit(schoolForm)" [formGroup]="schoolForm">
										 <div class="form-group">
											<label class="col-md-3 control-label">School Name</label>
											<div class="col-md-9">
												<input type="text" formControlName="SchoolName" name="schoolName" class="form-control">
												<div class="alert alert-danger" *ngIf="schoolForm.get('SchoolName').hasError('required') && schoolForm.get('SchoolName').touched">
													Please enter School Name
												</div>
											</div>
										</div> 
										<!-- <div class="form-group">
											<label class="col-md-3 control-label">School Code</label>
											<div class="col-md-9">
												<input type="text" formControlName="SchoolCode" name="schoolCode" class="form-control">
												<div class="alert alert-danger" *ngIf="schoolForm.get('SchoolCode').hasError('required') && schoolForm.get('SchoolCode').touched">
													Please enter School Code
												</div>
											</div>
										</div> -->
										<div class="form-group">
											<label class="col-md-3 control-label">Institute Name</label>
											<div class="col-md-9">												
												<p-dropdown [options]="institutes" [style]="{'width':'100%'}" formControlName="InstituteId" name="instituteId"></p-dropdown>
													<div class="alert alert-danger" *ngIf="schoolForm.get('InstituteId').hasError('required') && schoolForm.get('InstituteId').touched">
														Please select Institute
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">School Code</label>
											<div class="col-md-9">
												<input type="text" formControlName="SchoolCode" name="schoolCode" class="form-control">
												<div class="alert alert-danger" *ngIf="schoolForm.get('SchoolCode').hasError('required') && schoolForm.get('SchoolCode').touched">
													Please enter School Code
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">School Email</label>
											<div class="col-md-9">
												<input type="text" formControlName="SchoolEmail" name="schoolEmail" class="form-control">
												<div class="alert alert-danger" *ngIf="schoolForm.get('SchoolEmail').hasError('required') && schoolForm.get('SchoolEmail').touched">
													Please enter School Email
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">School Phone</label>
											<div class="col-md-9">
												<input type="text" formControlName="SchoolPhone" name="schoolPhone" class="form-control">
												<div class="alert alert-danger" *ngIf="schoolForm.get('SchoolPhone').hasError('required') && schoolForm.get('SchoolPhone').touched">
													Please enter School Phone
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">School Address</label>
											<div class="col-md-9">
												<input type="text" formControlName="SchoolAddress" name="schoolAddress" class="form-control">
												<div class="alert alert-danger" *ngIf="schoolForm.get('SchoolAddress').hasError('required') && schoolForm.get('SchoolAddress').touched">
													Please enter School Address
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-offset-2 col-md-10">
												<button pButton type="submit" label="Save" [disabled]="schoolForm.invalid"></button>
												<button pButton type="button" label="Cancel" (click)="onCancel()"></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end::Section-->
		</div>
	</div>
</div>