<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				School Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Schools
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Add/Edit School
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Add/Edit School
					</h3>
				</div>
			</div>
		</div>

		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(schoolForm)"
		 [formGroup]="schoolForm">
			<div class="m-portlet__body formPortletBody">
				<div class="form-group m-form__group m--margin-top-10 m--hide">
					<div class="alert m-alert m-alert--default" role="alert">
						The example form below demonstrates common HTML form elements that receive updated styles from Bootstrap with additional
						classes.
					</div>
				</div>
				<div class="form-group m-form__group row">
					<div class="col-10 ml-auto">
						<h3 class="m-form__section">
							1. Profile Details
						</h3>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Institute Name
					</label>
					<div class="col-7">
						<p-dropdown placeholder="Select Institute" [options]="institutes" [style]="{'width':'100%'}" formControlName="instituteId" name="instituteId"></p-dropdown>
						<div class="alertMsg" *ngIf="schoolForm.get('instituteId').hasError('required') && schoolForm.get('instituteId').touched">
							Please select Institute
						</div>
						<!-- <select class="form-control m-input">
							<option disabled selected>Select</option>
							<option>Institute 1</option>
							<option>Institute 2</option>
							<option>Institute 3</option>
							<option>Institute 4</option>
						</select> -->
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						School Name
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="schoolName" name="schoolName" id="schoolName" placeholder="School Name">
						<div class="alertMsg" *ngIf="schoolForm.get('schoolName').hasError('required') && schoolForm.get('schoolName').touched">
							Please enter School Name
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Short Name
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="schoolHeader" name="schoolHeader" id="schoolHeader" placeholder="School Short Name">
						<span class="m-form__help">
							Short Name will be used for your reference to identify added school & will not be shown publicly.
						</span>
						<div class="alertMsg" *ngIf="schoolForm.get('schoolHeader').hasError('required') && schoolForm.get('schoolHeader').touched">
							Please enter School Short Name
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						School Code
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="schoolCode" name="schoolCode" id="schoolCode" placeholder="School Code">
						<div class="alertMsg" *ngIf="schoolForm.get('schoolCode').hasError('required') && schoolForm.get('schoolCode').touched">
							Please enter School Code
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Logo
					</label>
					<div class="col-7">
						<input type="file" #fileupload name="file" id="file" class="inputfile" (change)="onUploadLogo(fileupload.files)"  accept="image/x-png,image/jpeg" />
						<label for="file" class="fileUploadBtn btn m-btn--pill m-btn--air btn-primary">Upload Logo</label>
						<span class="selected-file-name">{{imageFileName}}</span>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Board
					</label>
					<div class="col-7">

						<p-dropdown placeholder="Select Board" [options]="boards" [style]="{'width':'100%'}" formControlName="boardId" name="boardId"></p-dropdown>
						<div class="alertMsg" *ngIf="schoolForm.get('boardId').hasError('required') && schoolForm.get('boardId').touched">
							Please select Board
						</div>
					</div>
				</div>

				<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
				<div class="form-group m-form__group row">
					<div class="col-10 ml-auto">
						<h3 class="m-form__section">
							2. Address Details
						</h3>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Address
					</label>
					<div class="col-7">
						<textarea class="form-control m-input" rows="3" formControlName="schoolAddress" name="schoolAddress" id="schoolAddress" style="resize:none;"></textarea>
						<div class="alertMsg" *ngIf="schoolForm.get('schoolAddress').hasError('required') && schoolForm.get('schoolAddress').touched">
							Please enter School Address
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						City
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="schoolCity" name="schoolCity" id="schoolCity" placeholder="City">
						<div class="alertMsg" *ngIf="schoolForm.get('schoolCity').hasError('required') && schoolForm.get('schoolCity').touched">
							Please enter School City
						</div>
					</div>

				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						State
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="schoolState" name="schoolState" id="schoolState" placeholder="State">
						<div class="alertMsg" *ngIf="schoolForm.get('schoolState').hasError('required') && schoolForm.get('schoolState').touched">
							Please enter School State
						</div>
					</div>
				</div>

				<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
				<div class="form-group m-form__group row">
					<div class="col-10 ml-auto">
						<h3 class="m-form__section">
							3. Contact Details
						</h3>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Email
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="schoolEmail" name="schoolEmail" id="schoolEmail" placeholder="Email">
						<div class="alertMsg" *ngIf="schoolForm.get('schoolEmail').hasError('required') && schoolForm.get('schoolEmail').touched">
							Please enter School Email
						</div>
						<div class="alertMsg" *ngIf="!schoolForm.get('schoolEmail').hasError('required') && schoolForm.get('schoolEmail').hasError('email') && schoolForm.get('schoolEmail').touched">
							Please enter valid Email
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Phone No.
					</label>
					<div class="col-7">
						<input class="form-control m-input" type="text" formControlName="schoolPhone" name="schoolPhone" id="schoolPhone" placeholder="Phone">
						<div class="alertMsg" *ngIf="schoolForm.get('schoolPhone').hasError('required') && schoolForm.get('schoolPhone').touched">
							Please enter School Phone
						</div>
						<div class="alertMsg" *ngIf="!schoolForm.get('schoolPhone').hasError('required') && schoolForm.get('schoolPhone').hasError('pattern') && schoolForm.get('schoolPhone').touched">
							Please enter valid phone numeber
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Additional Details
					</label>
					<div class="col-7">
						<textarea class="form-control m-input" rows="3" style="resize:none;"></textarea>

					</div>
				</div>


			</div>


			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-6">
							<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [disabled]="schoolForm.invalid" [isAuthorize]="['School.Update', 'School.Create']">
								Save
							</button>
							<button type="button" (click)="onCancel()" class="btn btn-secondary">
								Cancel
							</button>
						</div>

					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->

	</div>
</div>