<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Fees Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Fees
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							List
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Fees List
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">
			<!--begin: Search Form -->
			<div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
				<div class="row align-items-center">
					<div class="col-xl-8 order-2 order-xl-1">

					</div>
					<div class="col-xl-4 order-1 order-xl-2 m--align-right">

						<a href="javascript:;" (click)="onAddFees()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
							<span>
								<i class="la la-cart-plus"></i>
								<span>
									Add Fee
								</span>
							</span>
						</a>
						<div class="m-separator m-separator--dashed d-xl-none"></div>
					</div>
				</div>
			</div>
			<!--end: Search Form -->
			<!--begin: Datatable -->

			<p-dataTable [value]="feesList | async" [responsive]="true" [rows]="2" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[2,4,6]">
				<p-column field="FeeHeadId" header="Fee Head Id"></p-column>
				<p-column field="SchoolId" header="School Id"></p-column>
				<p-column field="FrequencyId" header="Frequency Id"></p-column>
				<p-column field="FeeHeadCharges" header="Fee Head Charges"></p-column>
				<p-column header="IsAddHoc?">
					<ng-template let-fee="rowData" pTemplate type="body">
						{{fee.IsAddHoc == true ? "Yes" : "No"}}
					</ng-template>
				</p-column>
				<p-column field="StandardId" header="Standard Id"></p-column>
				<p-column field="CategoryId" header="Category Id"></p-column>
				<p-column header="IsApproved?">
					<ng-template let-fee="rowData" pTemplate type="body">
						{{fee.IsApproved ? "Yes" : "No"}}
					</ng-template>
				</p-column>
				<p-column field="IsApprovedBy" header="Approved By"></p-column>
				<p-column field="CurrencyId" header="Currency Id"></p-column>
				<p-column header="Edit">
					<ng-template let-fee="rowData" pTemplate type="body">
						<a href="javascript:;" (click)="onManageFeeClick(fee)" class="m-link m-link--focus m-login__account-link">
							Edit
						</a>
					</ng-template>
				</p-column>
				<p-column header="Delete">
					<ng-template let-fee="rowData" pTemplate type="body">
						<a href="javascript:;" (click)="onFeeDeleteClick(fee)" class="m-link m-link--focus m-login__account-link">
							Delete
						</a>
					</ng-template>
				</p-column>
			</p-dataTable>
			<!--end: Datatable -->
		</div>
	</div>
</div>