<div class="container">
	<div class="col-md-6 changePassBox">
	<div class="m-content">
		<div class="m-portlet m-portlet--mobile">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							<i class="flaticon-cogwheel-2 changePassIcon"></i> Change Password to Continue
						</h3>
					</div>
				</div>
			</div>
			<div class="m-portlet__body">
				<!--begin::Section-->
				<div class="m-section">
					<div class="m-section__content">
						<div class="row">
							<div class="col-md-12">
									<div class="portlet light bordered legends-portlet">
									<div class="portlet-body">
										<form class="form-horizontal" role="form" novalidate (ngSubmit)="onSubmit(changePasswordForm)" [formGroup]="changePasswordForm">
											<div class="form-group">
												<label class="col-md-12 control-label">Old Password <span class="requiredField">*</span></label>
												<div class="col-md-12">
													<input type="password" formControlName="oldPassword" name="oldPassword" class="form-control">
													<div class="alertMsg" *ngIf="changePasswordForm.get('oldPassword').hasError('required') && changePasswordForm.get('oldPassword').touched">
														Please enter Old Password
													</div>
												</div>												
											</div>
											<div class="form-group">
												<label class="col-md-12 control-label">New Password <span class="requiredField">*</span></label>
												<div class="col-md-12">
													<input type="password" formControlName="newPassword" name="newPassword" class="form-control">
													<div class="alertMsg" *ngIf="changePasswordForm.get('newPassword').hasError('required') && changePasswordForm.get('newPassword').touched">
														Please enter New Password
													</div>
												</div>												
											</div>
											<div class="form-group">
												<label class="col-md-12 control-label">Confirm Password <span class="requiredField">*</span></label>
												<div class="col-md-12">
													<input type="password" formControlName="confirmPassword" name="confirmPassword" class="form-control">
													<div class="alertMsg" *ngIf="changePasswordForm.get('confirmPassword').hasError('required') && changePasswordForm.get('confirmPassword').touched">
														Please enter Confirm Password
													</div>
													<div class="alertMsg" *ngIf="changePasswordForm.get('confirmPassword').touched && !isConfirmPasswordSame">
														Passwords do not match
													</div>                                                
												</div>												
											</div>
											<div class="form-group" style="margin-bottom: 10px;">
												<div class="col-md-offset-2 col-md-10">
													<button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid" [disabled]="changePasswordForm.invalid || loading" [ngClass]="{'m-loader m-loader--right m-loader--light': loading}">
														Update
													</button>
													<button type="button" class="btn btn-secondary" (click)="onCancel()">
														Cancel
													</button>
												</div>
											</div>
										</form>
									</div>
								</div> 
							</div>
						</div>
					</div>
				</div>
				<!--end::Section-->
			</div>
		</div>
	</div>	
	</div>
</div>