<!-- BEGIN: Subheader -->
<div class="m-subheader ">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Fee Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Fee Plan
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a href="" class="m-nav__link">
						<span class="m-nav__link-text">
							Add/Edit Fee Plan
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">

	<!--+++++++++++++++++++++++++++++++++++++++++++ Begin::Main Portlet ++++++++++++++++++++++++++++++++++++++++++++-->
	<div class="m-portlet">

		<!--begin::Form-->
		<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" name="feePlanForm" #feePlanForm="ngForm"
		 novalidate (ngSubmit)="onSubmit(feePlanForm)">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<h3 class="m-portlet__head-text">
							Add/Edit Fee Plan
						</h3>
					</div>
				</div>

				<!--Required Field Note-->
				<label class="requiredFieldNote">Note: &nbsp;&nbsp;
					<b>*</b>&nbsp;&nbsp; indicates Required Fields</label>

			</div>
			<div class="m-portlet__body">

				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2 col-form-label">
						Fee Plan Name<span class="requiredField">*</span>
					</label>
					<div class="col-md-5">
						<input class="form-control m-input" type="text" [(ngModel)]="planeName" #planeNameVal="ngModel" name="planeName" required>
						<div class="alertMsg" *ngIf="planeNameVal.errors && planeNameVal.errors.required && (planeNameVal.dirty || planeNameVal.touched)">
							Name is required.
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2 col-form-label">
						Description
					</label>
					<div class="col-md-5">
						<textarea class="form-control m-input" rows="3" style="resize:none;" name="desc" [(ngModel)]="planeDesc"></textarea>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-md-2 col-form-label">
						Academic Year<span class="requiredField">*</span>
					</label>
					<div class="col-md-3">
						<p-dropdown class="" [disabled]="params" [options]="academicYearList" [style]="{'width':'100%'}" [(ngModel)]="selectedAcademicYear" name="acadamicYearDDL"
						 (onChange)="onAcademicYearChange()" #academicYear="ngModel" required></p-dropdown>
						<div class="alertMsg" *ngIf="academicYear.errors && academicYear.errors.required && (academicYear.dirty || academicYear.touched)">
							Please select academic year
						</div>	
					</div>

				</div>

				<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x feePlanSeparator"></div>

				<!--+++++++++++++++++++++++++++++-->
				<div class="">
					<div class="form-group m-form__group row">
						<div class="col-md-5">
							<h3 class="m-form__section">
								Fee Plan Management
							</h3>
						</div>
					</div>

					<!--******************************************-->
					<div class="form-group m-form__group row lessPadding" *ngFor="let fee of feePlanManagement;let rowNum=index;let lastRowNum=last">

						<div class="col-md-2">
							<label for="example-text-input" class="col-form-label">
								Fee Head <span class="requiredField">*</span>
							</label>
							<p-dropdown class="" [options]="fee.feeHeadList" [style]="{'width':'100%'}" [(ngModel)]="fee.feeHeadId" name="{{'feeHeadIdDDL'+rowNum}}"
							 (onChange)="onFeeHeadChange(fee,rowNum)"></p-dropdown>
						</div>
						<div class="col-md-2">
							<label for="example-text-input" class="col-form-label">
								Amount<span class="requiredField">*</span>
							</label>
							<input class="form-control m-input" type="number" name="{{'amount'+rowNum}}" [(ngModel)]="fee.amount">
						</div>
						<div class="col-md-2">
							<label for="example-text-input" class="col-form-label">
								Re-enter Amount<span class="requiredField">*</span>
							</label>
							<input class="form-control m-input" type="number" name="{{'confirmAmount'+rowNum}}" [(ngModel)]="fee.confirmAmount">
						</div>
						<div class="col-md-2 feePlanAddBtn">
							<button type="button" class="btn btn-danger m-btn--pill" *ngIf="!lastRowNum||rowNum>0" (click)="removeFeeHeadDetails(fee,rowNum)">
								<i class="la la-minus" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
							</button>
							<button type="button" class="btn btn-primary m-btn--pill" *ngIf="lastRowNum" (click)="addFeeHeadDetails(fee)">
								<i class="la la-plus" style="vertical-align: middle;margin-top: -2px;margin-right: 0;"></i>
							</button>
						</div>
					</div>
					<!--******************************************-->

					<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x feePlanSeparator"></div>

					<div class="form-group m-form__group row">
						<div class="col-md-3" *ngFor="let item of frequency;let rowNum=index;let lastRowNum=last">
							<label for="example-text-input" class="col-form-label" style="width:100%;">
								Date {{rowNum+1}}
							</label>
							<p-calendar placeholder="Due date" name="{{'Date'+rowNum}}" [required]="true" [monthNavigator]="false" [yearNavigator]="false"
							 yearRange="academicYearRange" [(ngModel)]="item.date" [maxDate]="maxDate" dateFormat="dd/mm/yy" disabled [minDate]="minDate"
							 readonlyInput="true"></p-calendar>
						</div>
					</div>
				</div>
				<!--+++++++++++++++++++++++++++++-->
			</div>


			<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
				<div class="m-form__actions m-form__actions--solid">
					<div class="row">
						<div class="col-lg-6">
							<button type="submit" class="btn btn-accent" [disabled]="!feePlanForm.valid" >
								Save Fee Plan
							</button>
							<!-- <button type="reset" class="btn btn-secondary">
									Preview
								</button> -->
							<button type="reset" class="btn btn-secondary" (click)="onCancelFeePlan()">
								Cancel
							</button>
						</div>

					</div>
				</div>
			</div>
		</form>
		<!--end::Form-->

	</div>
	<!--+++++++++++++++++++++++++++++++++++++++++++ End::Main Portlet ++++++++++++++++++++++++++++++++++++++++++++-->
</div>