<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Users
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Users
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							User-Role
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								User-Role
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-section__content">
                            <div class="form-group">
                                <div class="row">
                                <label class="col-md-3 control-label">User Name </label>
                                <label class="col-md-6 control-label">{{userName}} </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                <label class="col-md-3 control-label">Select Role</label>
                                <div class="col-md-5">
                                    <!--<p-dropdown [options]="billTypes" [style]="{'width':'100%'}" [(ngModel)]="selectedRole" name=""></p-dropdown>-->
                                    <select class="form-control" [(ngModel)]="selectedRole" [disabled]="userRole.length != 0">
                                        <option [ngValue]="null" >Select</option>
                                        <option *ngFor="let role of roleDropdown" [ngValue]="role">{{role.name}}</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn" (click)="onAssignRole()" [disabled]="userRole.length != 0">
                                        Assign
									</button>
									<button class="btn" (click)="onRevokeRole()" [disabled]="userRole.length == 0">
                                        Revoke
                                    </button>
								</div>
								<!-- <div class="col-md-2">

                                </div> -->
                                </div>
                            </div>
                            <!-- <table class="table table-bordered table-striped">
                                <tbody>
                                <tr>
                                    <th> # </th>
                                    <th>Role</th>
                                    <th>Revoke</th>
                                </tr>
                                <tr *ngFor="let item of userRole; let index = index">
                                    <td>{{index+1}} </td>
                                    <td>{{item.name}}</td>
                                    <td>
                                    <a href="javascript:;" class="m-link m-link--focus m-login__account-link" (click)="onRevokeRole(item)" title="Revoke Permission">Revoke</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table> -->
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>