<!-- BEGIN: Subheader -->
<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title">
				Dashboard
			</h3>
		</div>
		<div>
			<span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
				<span class="m-subheader__daterange-label">
					<span class="m-subheader__daterange-title"></span>
					<span class="m-subheader__daterange-date m--font-brand"></span>
				</span>
				<a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
					<i class="la la-angle-down"></i>
				</a>
			</span>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<!--Begin::Main Portlet-->
	
  <!--begin:: Widgets/Stats-->
  <div class="m-portlet ">
	<div class="m-portlet__body  m-portlet__body--no-padding">
		<div class="row m-row--no-padding m-row--col-separator-xl">
			<div class="col-md-12 col-lg-6 col-xl-3">
				<!--begin::Total Profit-->
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							Payment Due
						</h4>
						<br>
						<h5 class="m-widget24__desc">
							For all students
						</h5>
						<span class="m-widget24__stats m--font-brand">
							Rs. 17,00,00,000
						</span>
						
					</div>
				</div>
				<!--end::Total Profit-->
			</div>
			<div class="col-md-12 col-lg-6 col-xl-3">
				<!--begin::New Feedbacks-->
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							Payment Received
						</h4>                                                
						<h5 class="m-widget24__desc">
							For all students
						</h5>
						<span class="m-widget24__stats m--font-info">
							Rs. 8,00,00,000
						</span>
					   
					</div>
				</div>
				<!--end::New Feedbacks-->
			</div>
			<div class="col-md-12 col-lg-6 col-xl-3">
				<!--begin::New Orders-->
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
						   Total Students
						</h4>
						<br>
						<h5 class="m-widget24__desc">
							For current year
						</h5>
						<span class="m-widget24__stats m--font-danger">
							2,100
						</span>
						
					</div>
				</div>
				<!--end::New Orders-->
			</div>
			<div class="col-md-12 col-lg-6 col-xl-3">
				<!--begin::New Users-->
				<div class="m-widget24">
					<div class="m-widget24__item">
						<h4 class="m-widget24__title">
							TBD
						</h4>
						<br>
						<h5 class="m-widget24__desc">
							TBD
						</h5>
						<span class="m-widget24__stats m--font-success">
							XXXXXX
						</span>
						
					</div>
				</div>
				<!--end::New Users-->
			</div>
		</div>
	</div>
</div>
<!--end:: Widgets/Stats-->
   
	<!--End::Main Portlet-->
	<!--Begin::Main Portlet-->

	<!--End::Main Portlet-->
</div>
