<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Roles
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Roles
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							add-edit
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="row">
		<div class="col-lg-12">
			<!--begin::Portlet-->
			<div class="m-portlet">
				<div class="m-portlet__head">
					<div class="m-portlet__head-caption">
						<div class="m-portlet__head-title">
							<h3 class="m-portlet__head-text">
								Role Add/Edit
							</h3>
						</div>
					</div>
				</div>
				<div class="m-portlet__body">
					<!--begin::Section-->
					<div class="m-section">
						<div class="m-section__content">
							<div class="row">
								<div class="col-md-6">
									<div class="portlet light bordered legends-portlet">
										<div class="portlet-body">
											<form class="form-horizontal" role="form" novalidate (ngSubmit)="onSubmit(roleForm)" [formGroup]="roleForm">
												<div class="form-group">
													<label class="col-md-2 control-label">Name</label>
													<div class="col-md-10">
														<input type="text" formControlName="RoleName" name="roleName" class="form-control">
														<div class="alert alert-danger" *ngIf="roleForm.get('RoleName').hasError('required') && roleForm.get('RoleName').touched">
															Please enter Role Name
														</div>
													</div>
												</div>
												<div class="form-group">
													<label class="col-md-2 control-label">Description</label>
													<div class="col-md-10">
														<input type="text" formControlName="RoleDescription" name="roleDescription" class="form-control">														
													</div>
												</div>
												<div class="form-group">
													<div class="col-md-offset-2 col-md-10">
														<button pButton type="submit" label="Save" [disabled]="roleForm.invalid"></button>
														<button pButton type="button" label="Cancel" (click)="onCancel()"></button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
								<div class="col-md-6" *ngIf='params'>
									<div class="portlet light bordered">
										<div class="portlet-body">
											<div class="form-group">
												<div class="row">
													<label class="col-md-2  control-label">Name</label>
													<div class="col-md-8">
														<p-autoComplete [(ngModel)]="selectedPermission" [suggestions]="filteredPermissionList" (completeMethod)="filterPermission($event)"
														 field="Text" [size]="30" placeholder="Permissions" [minLength]="1"></p-autoComplete>
													</div>
													<div class="col-md-2">
														<button class="btn btn-default" (click)="onAddPermission();" [disabled]="this.selectedPermission==null || this.selectedPermission==''">
														ADD </button>
													</div>
												</div>
											</div>
											<p-dataTable [value]="rolePermissionList" [responsive]="true" [rows]="5" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]">
												<p-column field="Text" header="Permissions" [sortable]="true"></p-column>
												<p-column header="Revoke">
													<ng-template pTemplate="body" let-permission="rowData">
														<a href="javascript:;" class="m-link m-link--focus m-login__account-link" (click)="revokePermission(permission)">Revoke</a>
													</ng-template>
												</p-column>
											</p-dataTable>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end::Section-->
				</div>
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>