<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Roles
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Roles
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							{{ params ? 'edit' : 'add' }}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->
<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{ params ? 'Edit Role' : 'Add Role' }}
					</h3>
				</div>
			</div>
			<label class="requiredFieldNote">Note: &nbsp;&nbsp;<b>*</b>&nbsp;&nbsp; indicates Required Fields</label>
		</div>
		
		<!--begin::Form-->
		
		<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(roleForm)" [formGroup]="roleForm">
			<div class="m-portlet__body formPortletBody">				
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Role Name <span class="requiredField">*</span>
					</label>
					<div class="col-5">
						<input type="text" formControlName="displayName" name="roleName" class="form-control m-input">
						<div class="alertMsg" *ngIf="roleForm.get('displayName').hasError('required') && roleForm.get('displayName').touched">
							Please enter Role Name
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Role Description
					</label>
					<div class="col-5">
						<textarea class="form-control m-input" rows="3" formControlName="description" name="roleDescription" style="resize:none;"></textarea>						
					</div>
				</div>
				
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						
					</label>
					<div class="col-7">
						<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom button_foot" [disabled]="roleForm.invalid" [ngClass]="roleForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ roleForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" [isAuthorize]="['Role.Create', 'Role.Update']">
							{{ params ? 'Update' : 'Save' }}
						</button>
						<button type="button" class="btn btn-secondary" (click)="onCancel()">
							Cancel
						</button>
					</div>
				</div>	
			</div>
		</form>
		<div *ngIf='params'> 
			<div class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
				<div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space-2x"></div>
				<div class="form-group m-form__group row">
					<div class="col-10 ml-auto">
						<h3 class="m-form__section">
							Set Permissions for Role
						</h3>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Select Menu <span class="requiredField">*</span>
					</label>
					<div class="col-5">
						<select class="form-control m-input" [(ngModel)]="selectedFeature" (ngModelChange)="getFeaturePermissions($event)">
							<option [ngValue]="null" >Select</option>
							<option *ngFor="let feature of featureList" [ngValue]="feature">{{feature.menuName}}</option>
						</select>
					</div>
				</div> 
				<div class="form-group m-form__group row">
					<label for="example-text-input" class="col-2 col-form-label">
						Select Permission <span class="requiredField">*</span>
					</label>
					<div class="col-5">
						<select class="form-control" [(ngModel)]="selectedPermission" [disabled]="filteredPermissionList.length == 0">
							<option [ngValue]="null" >Select</option>
							<option *ngFor="let permission of filteredPermissionList" [ngValue]="permission">{{permission.text}}</option>
						</select>
						<div class="alertMsg" *ngIf="selectedFeature && !isMenuSelected && permissionList.length == 0">
							You do not have rights to this permission
						</div>
						<div class="alertMsg" *ngIf="selectedFeature && !isMenuSelected  && permissionList.length != 0 && filteredPermissionList.length == 0">
							 All permissions of selected menu are already assigned to this role
						</div>
					</div>
					<div class="col-3">
						<button type="submit" class="btn btn-primary" (click)="onAddPermission();" [disabled]="selectedPermission==null || selectedPermission==''">
							Add Permissions
						</button>
					</div>
				</div> 
				
				<div class="">				
					<div class="col-md-7" style="padding-bottom: 5px;">
						<div class="table-responsive">
							<table class="table table-bordered table-striped staticTable">
								<thead>
									<tr>
										<th>Permissions</th>
										<th>Revoke</th>
									</tr>
								</thead>
								<tbody *ngIf="rolePermissionList.length > 0">
									<tr *ngFor="let permission of rolePermissionList">
										<td>{{permission.text}}</td>
										<td>
										<a href="javascript:;" class="m-link m-link--focus m-login__account-link" title="Revoke Permission" (click)="revokePermission(permission)"><b>Revoke</b></a>
										</td>
									</tr>								
								</tbody>
								<tbody *ngIf="rolePermissionList.length == 0">
									<tr *ngIf="rolePermissionList.length == 0">
										<td colspan="2">No Permissions</td>								
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		 </div> 
		<!--end::Form-->                        
	</div>
</div>