<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Student Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Students
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							List
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="row headerRowListing">
				<div class="col-xl-8">
					<h3 class="ListingHeading">
						Student List
					</h3>
				</div>
				<div class="col-xl-4">
					<input type="file" #fileupload [(ngModel)]="myFile" name="file" id="file" class="inputfile" (change)="onAddStudent(fileupload.files)" >
					<label for="file" class="fileUploadBtn btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill pull-right"
					 style="line-height: 1.4rem;padding: .75rem 2rem;font-size: 1rem;font-weight: 400!important;font-family: Poppins; text-transform: capitalize;letter-spacing: 0;margin-bottom: 0;">
						<i style="margin-right: 5px;" class="m-menu__link-icon flaticon-user-add"></i> Add Student</label>
					<br/>
					<span class="selected-file-name" style="margin-left:0;"></span>
					<div class="m-separator m-separator--dashed d-xl-none"></div>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">

			<div class="">
				<!--begin: Search Form -->
				<div class="row staticSearchRow">
					<div class="col-md-3">
						<div class="filterLabel">
							<label>First Name</label>
						</div>
						<div class="filterDropdown">
							<p-dropdown class="form-control" [options]="filterCol1" [style]="{'width':'100%'}" [(ngModel)]="filterValue1" (ngModelChange)="filterByValue('FirstName',filterValue1)"
							 name="instituteId"></p-dropdown>
						</div>
					</div>
					<div class="col-md-3">
						<div class="filterLabel">
							<label>Academic Year</label>
						</div>
						<div class="filterDropdown">
							<p-dropdown class="form-control" [options]="filterCol2" [style]="{'width':'100%'}" [(ngModel)]="filterValue2" (ngModelChange)="filterByValue2('AcademicYear',filterValue2)"
							 name="university"></p-dropdown>
						</div>
					</div>
					<div class="col-md-3">

					</div>

					<div class="col-md-3">
						<div class="m-input-icon m-input-icon--left">
							<input type="text" class="form-control m-input m-input--solid" [(ngModel)]="value" (keyup)="searchString(value)" placeholder="Search..."
							 id="m_form_search">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="la la-search"></i>
								</span>
							</span>
						</div>
					</div>


				</div>

				<div class="table-responsive">
					<!--begin: Datatable -->
					<table class="staticTable" id="" width="100%">
						<thead>
							<tr>
								<th title="Field #1">
									#
								</th>
								<th title="Field #2">
									<a href="#" (click)="sort('FirstName',ascSortCol1 = !ascSortCol1)">
										First Name
									</a>
								</th>
								<th title="Field #3">
									<a href="#" (click)="sort('AcademicYear',ascSortCol2 = !ascSortCol2)">
										Last Name
									</a>
								</th>
								<th title="Field #4">
									Email
								</th>
								<th title="Field #5">
									Phone
								</th>
								<th title="Field #6">
									Age
								</th>
								<th title="Field #7">
									AcademicYear
								</th>
								<th title="Field #8">
									Actions
								</th>
							</tr>
						</thead>
						<tbody *ngIf="longList">
							<tr *ngFor='let row of studentList | async'>
								<td>{{row.id}}</td>
								<td>{{row.FirstName}}</td>
								<td>{{row.LastName}}</td>
								<td>{{row.Email}}</td>
								<td>{{row.Phone}}</td>
								<td>{{row.Age}}</td>
								<td>{{row.AcademicYear}}</td>
								<td>
									<a href="javascript:;" (click)="onEditStudentClick(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
									 title="Edit">
										<i class="la la-edit"></i>
									</a>
									<a href="javascript:;" (click)="onStudentDeleteClick(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
									 title="Delete">
										<i class="la la-close"></i>
									</a>
								</td>
							</tr>
						</tbody>
						<tbody *ngIf="!longList">
							No Records Found...
						</tbody>

					</table>
					<!-- Pagination -->
					<div class="PaginationBox">

						<div class="row">
							<div class="col-md-6">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li class="page-item">
											<a [ngClass]="{'disabled': prePageEnable ,'page-link' : true, 'prev':true}" (click)="backPage()">
												<i class="la la-angle-double-left leftIcon"></i>
											</a>
										</li>
										<li class="page-item" *ngFor="let item of arr">
											<a my-link="false" [ngClass]="{'active' : true, 'page-link' : currentPageCheck(item)}" (click)="pageClick(item)">{{item}}</a>
										</li>
										<li class="page-item">
											<a [ngClass]="{'disabled': nextPageEnable ,'page-link' : true, 'next':true}" class="page-link next" (click)="nextPage()">
												<i class="la la-angle-double-right rightIcon"></i>
											</a>
										</li>
									</ul>
								</nav>
							</div>

							<div class="col-md-6 showRecordsBox">
								<div class="showRecordsLabel">
									<label>Displaying {{firstPageNumber}} - {{lastPage}} of {{total}} records</label>
								</div>
								<div class="showRecordsDropdown">
									<p-dropdown class="form-control recordSelect" [style]="{'width':'100%'}" [(ngModel)]="selectedPageSize" [options]="pageSize"
									 name="CategoryId" (ngModelChange)="pageSizeChanged(selectedPageSize)"></p-dropdown>
								</div>
							</div>

						</div>

					</div>
				</div>
				<!--end: Datatable -->
			</div>
		</div>
	</div>
</div>