<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Student Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Students
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Add/Edit Student
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						Add/Edit Student
					</h3>
				</div>
			</div>
		</div>
		<div class="m-portlet__body">

			<form role="form" novalidate (ngSubmit)="onSubmit(studentForm)" [formGroup]="studentForm">
				<div class="row">
					<div class="col-lg-6">

						<div class="panel-group" id="accordion">
							<div class="panel panel-default studentDetailPanel">
								<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
									<h4 class="panel-title">
										Personal Details:
										<i class="fa fa-angle-down"> </i>
									</h4>
								</div>
								<div id="collapseOne" class="panel-collapse collapse in show">
									<div class="panel-body">
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													First Name:
												</label>
												<input formControlName="FirstName" name="firstName" type="text" class="form-control m-input">
												<div class="alert alert-danger" *ngIf="studentForm.get('FirstName').hasError('required') && studentForm.get('FirstName').touched">
													Please enter First Name
												</div>
											</div>
											<div class="col-lg-6">
												<label class="">
													Middle Name:
												</label>
												<input type="text" formControlName="MiddleName" name="middleName" class="form-control m-input">
												<div class="alert alert-danger" *ngIf="studentForm.get('MiddleName').hasError('required') && studentForm.get('MiddleName').touched">
													Please enter Middle Name
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													Last Name:
												</label>
												<input type="text" formControlName="LastName" name="lastName" class="form-control m-input">
												<div class="alert alert-danger" *ngIf="studentForm.get('LastName').hasError('required') && studentForm.get('LastName').touched">
													Please enter Last Name
												</div>

											</div>
											<div class="col-lg-6">
												<label class="">
													Gender:
												</label>
												<p-dropdown [options]="genderList" [style]="{'width':'100%'}" name="gender"></p-dropdown>

												<!-- <select class="form-control m-input" id="exampleSelect1">
														<option disabled selected>Select Gender</option>
														<option>Male</option>
														<option>Female</option>
														<option>Other</option>
													</select> -->
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default studentDetailPanel">
								<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
									<h4 class="panel-title">
										Parent Details:
										<i class="fa fa-angle-down"> </i>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													Father's First Name:
												</label>
												<input type="text" formControlName="FatherFirstName" name="fatherFirstName" class="form-control m-input">
												<div class="alert alert-danger" *ngIf="studentForm.get('FatherFirstName').hasError('required') && studentForm.get('FatherFirstName').touched">
													Please Enter Father's First Name:
												</div>

											</div>
											<div class="col-lg-6">
												<label class="">
													Father's Last Name:
												</label>
												<input type="text" formControlName="FatherLastName" name="fatherLastName" class="form-control m-input">
												<div class="alert alert-danger" *ngIf="studentForm.get('FatherLastName').hasError('required') && studentForm.get('FatherLastName').touched">
													Please Enter Father's Last Name:
												</div>
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													Father's Mobile No:
												</label>
												<input type="text" formControlName="FatherMobile" name="fatherMobile" class="form-control m-input">
											</div>
											<div class="col-lg-6">
												<label>
													Mother's First Name:
												</label>
												<input type="text" formControlName="MotherFirstName" name="motherFirstName" class="form-control m-input">
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													Mother's Last Name:
												</label>
												<input type="text" formControlName="MotherLastName" name="motherLastName" class="form-control m-input">
											</div>
											<div class="col-lg-6">
												<label>
													Mother's Mobile No:
												</label>
												<input type="text" formControlName="MotherMobile" name="motherMobile" class="form-control m-input">
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="panel panel-default studentDetailPanel">
								<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
									<h4 class="panel-title">
										Guardian Details:
										<i class="fa fa-angle-down"> </i>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													Guardian's First Name:
												</label>
												<input type="text" formControlName="GuardianFirstName" name="guardianFirstName" class="form-control m-input">
											</div>
											<div class="col-lg-6">
												<label class="">
													Guardian's Last Name:
												</label>
												<input type="text" formControlName="GuardianLastName" name="guardianLastName" class="form-control m-input">
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													Guardian's Mobile No:
												</label>
												<input type="text" formControlName="GuardianMobile" name="guardianMobile" class="form-control m-input">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

					<div class="col-lg-6">
						<div class="panel-group" id="accordion">
							<div class="panel panel-default studentDetailPanel">
								<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
									<h4 class="panel-title">
										Education Details:
										<i class="fa fa-angle-down"> </i>
									</h4>
								</div>
								<div id="collapseFour" class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label class="">
													Class:
												</label>

												<p-dropdown class="form-control recordSelect" [style]="{'width':'100%'}" [options]="classList" name="Class"></p-dropdown>
												<!-- <select class="form-control m-input" id="exampleSelect1">
														<option disabled selected>Select Class</option>
														<option>1st</option>
														<option>2nd</option>
														<option>3rd</option>
													</select>	 -->
											</div>
											<div class="col-lg-6">
												<label class="">
													Category:
												</label>
												<p-dropdown class="form-control m-input" [options]="categoryList" [style]="{'width':'100%'}" name="class"></p-dropdown>
												<!-- <select class="form-control m-input" id="exampleSelect1">
														<option disabled selected>Select Category</option>
														<option>General</option>
														<option>RTE</option>
														<option>Management</option>
														<option>Staff</option>
													</select> -->
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label class="">
													Board:
												</label>
												<p-dropdown class="form-control m-input" [options]="boardList" [style]="{'width':'100%'}" name="class"></p-dropdown>
												<!-- <select class="form-control m-input" id="exampleSelect1">
														<option disabled selected>Select Board</option>
														<option>SSC</option>
														<option>CBSC</option>
														<option>ICSC</option>
													</select>	 -->
											</div>
											<div class="col-lg-6">
												<label class="">
													Year:
												</label>
												<p-dropdown class="form-control m-input" [options]="yearList" [style]="{'width':'100%'}" name="class"></p-dropdown>
												<!-- <select class="form-control m-input" id="exampleSelect1">
														<option disabled selected>Select Year</option>
														<option>2013</option>
														<option>2014</option>
														<option>2015</option>
														<option>2016</option>
													</select> -->
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default studentDetailPanel">
								<div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
									<h4 class="panel-title">
										Other Details:
										<i class="fa fa-angle-down"> </i>
									</h4>
								</div>
								<div id="collapseFive" class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													City:
												</label>
												<input type="text" formControlName="City" name="city" class="form-control m-input">
											</div>
											<div class="col-lg-6">
												<label>
													State:
												</label>
												<input type="text" formControlName="State" name="state" class="form-control m-input">
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label class="">
													Date of Birth:
												</label>
												<input type="text" formControlName="DOB" name="dob" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
											</div>
											<div class="col-lg-6">
												<label class="">
													Date of Joining:
												</label>
												<input type="text" formControlName="DOJ" name="doj" class="form-control" id="m_datepicker_1" readonly="" placeholder="Select date">
											</div>
										</div>
										<div class="form-group m-form__group row">
											<div class="col-lg-6">
												<label>
													Contact No.:
												</label>
												<input type="text" formControlName="ContactNumber" name="contactNumber" class="form-control m-input">
											</div>
											<div class="col-lg-6">
												<label class="">
													Blood Group:
												</label>
												<p-dropdown class="form-control m-input" [options]="bloodGroupList" [style]="{'width':'100%'}" name="bloodGroup"></p-dropdown>
												<!-- <select class="form-control m-input" id="exampleSelect1">
														<option disabled selected>Select Blood Group</option>
														<option>A +</option>
														<option>O +</option>
														<option>B +</option>
														<option>AB +</option>
													</select> -->
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions--solid">
						<div class="row">
							<div class="col-lg-6">
								<button type="submit" class="btn btn-accent m-btn m-btn--air m-btn--custom" [disabled]="studentForm.invalid">
									Save
								</button>
								<button type="button" class="btn btn-secondary" (click)="onCancel()">
									Cancel
								</button>
							</div>

						</div>
					</div>
				</div>
			</form>

			<!--begin::Section-->
			<!-- <div class="m-section">
				<div class="m-section__content">
					<div class="row">
						<div class="col-md-12">
							<div class="portlet light bordered legends-portlet">
								<div class="portlet-body">
									<form class="form-horizontal" role="form" novalidate (ngSubmit)="onSubmit(studentForm)" [formGroup]="studentForm">
										<div class="form-group">
											<label class="col-md-3 control-label">First Name</label>
											<div class="col-md-9">
												<input type="text" formControlName="FirstName" name="schoolName" class="form-control">
												<div class="alert alert-danger" *ngIf="studentForm.get('FirstName').hasError('required') && studentForm.get('FirstName').touched">
													Please enter First Name
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label">Middle Name</label>
											<div class="col-md-9">
												<input type="text" formControlName="MiddleName" name="middleName" class="form-control">
												<div class="alert alert-danger" *ngIf="studentForm.get('MiddleName').hasError('required') && studentForm.get('MiddleName').touched">
													Please enter Middle Name
												</div>
											</div>
										</div>

										<div class="form-group">
											<label class="col-md-3 control-label">Last Name</label>
											<div class="col-md-9">
												<input type="text" formControlName="LastName" name="lastName" class="form-control">
												<div class="alert alert-danger" *ngIf="studentForm.get('LastName').hasError('required') && studentForm.get('LastName').touched">
													Please enter Last Name
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Email</label>
											<div class="col-md-9">
												<input type="text" formControlName="Email" name="email" class="form-control">
												<div class="alert alert-danger" *ngIf="studentForm.get('Email').hasError('required') && studentForm.get('Email').touched">
													Please enter Email
												</div>
											</div>
										</div>
										<div class="form-group">
											<label class="col-md-3 control-label">Phone</label>
											<div class="col-md-9">
												<input type="text" formControlName="Phone" name="phone" class="form-control">
												<div class="alert alert-danger" *ngIf="studentForm.get('Phone').hasError('required') && studentForm.get('Phone').touched">
													Please enter Phone Number
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-md-offset-2 col-md-10">
												<button pButton type="submit" label="Save" [disabled]="studentForm.invalid"></button>
												<button pButton type="button" label="Cancel" (click)="onCancel()"></button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<!--end::Section-->
		</div>
	</div>
</div>