<p-confirmDialog #cd>
	<p-footer>
		<button type="button" class="btn btn-accent m-btn m-btn--icon" (click)="cd.accept()">
			<span>
				<i class="la la-check"></i>
				<span>
					Yes
				</span>
			</span>
		</button>
		<button type="button" class="btn btn-secondary m-btn m-btn--icon" (click)="cd.reject()">
			<span>
				<i class="la la-close"></i>
				<span>
					No
				</span>
			</span>
		</button>
	</p-footer>
</p-confirmDialog>

<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Fees Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Fee Management
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Fee Heads
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="row headerRowListing">
				<div class="col-xl-8">
					<h3 class="ListingHeading">
						Fee Heads
					</h3>
				</div>
				<div class="col-xl-4">
					<a href="javascript:;" (click)="onAddFees()" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill pull-right">
						<span>
							<i class="m-menu__link-icon flaticon-add"></i>
							<span>
								Add Fee Head
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="m-portlet__body">
			<div class="">
				<div class="row staticSearchRow">
					<div class="col-md-3">
						<div class="filterLabel">
							<label>Payment Frequency</label>
						</div>
						<div class="filterDropdown">
							<p-dropdown placeholder="Select Frequency" [options]="frequencyIdList" [style]="{'width':'100%'}" name="frequency" [(ngModel)]="filterValue1" (ngModelChange)="filterByValue('frequencyId',filterValue1)"></p-dropdown>
						</div>
					</div>
					<div class="col-md-3">

					</div>
					<div class="col-md-3">

					</div>

					<div class="col-md-3">
						<div class="m-input-icon m-input-icon--left">
							<input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="m_form_search" [(ngModel)]="searchValue"
							(keyup)="searchString(searchValue)">
							<span class="m-input-icon__icon m-input-icon__icon--left">
								<span>
									<i class="la la-search"></i>
								</span>
							</span>
						</div>
					</div>
				</div>
				<!-- <p-dataTable [value]="feesList | async" [responsive]="true" [rows]="2" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[2,4,6]">
					<p-column field="FeeHeadId" header="Fee Head Id"></p-column>
					<p-column field="SchoolId" header="School Id"></p-column>
					<p-column field="FrequencyId" header="Frequency Id"></p-column>
					<p-column field="FeeHeadCharges" header="Fee Head Charges"></p-column>
					<p-column header="IsAddHoc?">
						<ng-template let-fee="rowData" pTemplate type="body">
							{{fee.IsAddHoc == true ? "Yes" : "No"}}
						</ng-template>
					</p-column>
					<p-column field="StandardId" header="Standard Id"></p-column>
					<p-column field="CategoryId" header="Category Id"></p-column>
					<p-column header="IsApproved?">
						<ng-template let-fee="rowData" pTemplate type="body">
							{{fee.IsApproved ? "Yes" : "No"}}
						</ng-template>
					</p-column>
					<p-column field="IsApprovedBy" header="Approved By"></p-column>
					<p-column field="CurrencyId" header="Currency Id"></p-column>
					<p-column header="Edit">
						<ng-template let-fee="rowData" pTemplate type="body">
							<a href="javascript:;" (click)="onManageFeeClick(fee)" class="m-link m-link--focus m-login__account-link">
								Edit
							</a>
						</ng-template>
					</p-column>
					<p-column header="Delete">
						<ng-template let-fee="rowData" pTemplate type="body">
							<a href="javascript:;" (click)="onFeeDeleteClick(fee)" class="m-link m-link--focus m-login__account-link">
								Delete
							</a>
						</ng-template>
					</p-column>
				</p-dataTable> -->

				<div class="table-responsive">
					<!--begin: Datatable -->
					<div class="tableBox">
						<table class="staticTable" id="" width="100%">
							<thead>
								<tr>
									<th title="Name">
										<a href="" (click)="sort('feeHeadName',ascSortCol1 = !ascSortCol1)">
											Name
										</a>
									</th>
									<th title="Description">
										Description
									</th>
									<th title="Payment Frequency">
										<a href="" (click)="sort('frequencyId',ascSortCol2 = !ascSortCol2)">
											Payment Frequency
										</a>
									</th>
									<th title="Charge Head">
										Charge Head
									</th>
									<th title="Field #9">
										Actions
									</th>
								</tr>
							</thead>
							<tbody *ngIf="longList">
								<tr *ngFor='let row of feesList | async'>
									<td>{{row.feeHeadName}}</td>
									<td>{{row.feeHeadDescription}}</td>
									<td>{{row.FeeheadsFrequency.frequencyName}}</td>
									<td>{{row.chargeHeadName}}</td>
									<td>
										<a href="javascript:;" (click)="onManageFeeClick(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
										 title="Edit" [isAuthorize]="['Feehead.Update']">
											<i class="la la-edit"></i>
										</a>
										<a href="javascript:;" (click)="onFeeDeleteClick(row)" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill"
										 title="Delete" [isAuthorize]="['Feehead.Delete']">
											<i class="la la-close"></i>
										</a>
									</td>
								</tr>
							</tbody>
							<tbody *ngIf="!longList">
								No Records Found...
							</tbody>

						</table>
					</div>
					<!-- Pagination -->
					<div class="PaginationBox">

						<div class="row">
							<div class="col-md-6">
								<nav aria-label="Page navigation example">
									<ul class="pagination">
										<li [ngClass]="{'page-item' : true}" title="Go to First Page">
											<a [ngClass]="{'page-link' : true, 'prev':true}" (click)="visitFirstPage()">
												<i class="la la-angle-double-left leftIcon"></i>
											</a>
										</li>
										<li class="page-item" title="Previous">
											<a [ngClass]="{'disabled': prePageEnable ,'page-link' : true, 'prev':true}" (click)="morePreviousPages()">
												<i class="la la-angle-left leftIcon"></i>
											</a>
										</li>
										<li [ngClass]="{'cursorNone' : currentPageCheck(item), 'page-item' : true}" *ngFor="let item of arr">
											<a my-link="false" [ngClass]="{'disabled' : currentPageCheck(item), 'active' : currentPageCheck(item), 'page-link' : true}"
											 (click)="pageClick(item)">{{item}}</a>
										</li>
										<li class="page-item" title="Next">
											<a [ngClass]="{'disabled': nextPageEnable ,'page-link' : true, 'next':true}" class="page-link next" (click)="moreNextPages()">
												<i class="la la-angle-right rightIcon"></i>
											</a>
										</li>
										<li class="page-item" title="Go to Last Page">
											<a [ngClass]="{'disabled': nextPageEnable ,'page-link' : true, 'next':true}" class="page-link next" (click)="visitLastPage()">
												<i class="la la-angle-double-right rightIcon"></i>
											</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="col-md-6 showRecordsBox">
								<div class="showRecordsLabel">
									<label>Displaying {{firstPageNumber}} - {{lastPage}} of {{total}} records</label>
								</div>
								<div class="showRecordsDropdown">
									<p-dropdown class="recordSelect" [style]="{'width':'100%'}" [(ngModel)]="selectedPageSize" [options]="pageSize" name="CategoryId"
									 (ngModelChange)="pageSizeChanged(selectedPageSize)"></p-dropdown>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--end: Datatable -->
		</div>
	</div>
</div>