<div class="m-subheader">
	<div class="d-flex align-items-center">
		<div class="mr-auto">
			<h3 class="m-subheader__title m-subheader__title--separator">
				Categories Management
			</h3>
			<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
				<li class="m-nav__item m-nav__item--home">
					<a href="#" class="m-nav__link m-nav__link--icon">
						<i class="m-nav__link-icon la la-home"></i>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							Categories
						</span>
					</a>
				</li>
				<li class="m-nav__separator">
					-
				</li>
				<li class="m-nav__item">
					<a class="m-nav__link">
						<span class="m-nav__link-text">
							{{ params ? 'edit' : 'add' }}
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- END: Subheader -->

<div class="m-content">
	<div class="m-portlet m-portlet--mobile">
		<div class="m-portlet__head">
			<div class="m-portlet__head-caption">
				<div class="m-portlet__head-title">
					<h3 class="m-portlet__head-text">
						{{ params ? 'Edit Categories' : 'Add Categories' }}
					</h3>
				</div>
			</div>
			<label class="requiredFieldNote">Note: &nbsp;&nbsp;<b>*</b>&nbsp;&nbsp; indicates Required Fields</label>
		</div>

		<form class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" role="form" novalidate (ngSubmit)="onSubmit(categoriesForm)"
		 [formGroup]="categoriesForm">
			<div class="m-portlet__body formPortletBody">
				<div class="form-group m-form__group row">
					<label for="categoryName" class="col-md-2 col-form-label">Name<span class="requiredField">*</span></label>
					<div class="col-md-7">
						<input type="text" formControlName="categoryName" name="categoryName" class="form-control m-input" placeholder="Enter Category Name"
						 maxlength="50">
						<div class="alertMsg" *ngIf="categoriesForm.get('categoryName').hasError('required') && (categoriesForm.get('categoryName').touched)">
							Please enter Category Name
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="categoryDescription" class="col-md-2 col-form-label">Description<span class="requiredField">*</span></label>
					<div class="col-md-7">
						<input type="text" formControlName="categoryDescription" name="categoryDescription" class="form-control" placeholder="Enter Category Description"
						 maxlength="50">
						<div class="alertMsg" *ngIf="categoriesForm.get('categoryDescription').hasError('required') && (categoriesForm.get('categoryDescription').touched)">
							Please enter Category Description
						</div>
					</div>
				</div>
				<div class="form-group m-form__group row">
					<label for="categoryCode" class="col-md-2 col-form-label">Category Code<span class="requiredField">*</span></label>
					<div class="col-md-7">
						<input type="text" formControlName="categoryCode" name="categoryCode" class="form-control" placeholder="Enter Category Code"
						 maxlength="50">
						<div class="alertMsg" *ngIf="categoriesForm.get('categoryCode').hasError('required') && (categoriesForm.get('categoryCode').touched)">
							Please enter Category Code
						</div>
					</div>
				</div>
				<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
					<div class="m-form__actions m-form__actions--solid">
						<div class="row">
							<div class="col-lg-6">
								<button type="submit" [isAuthorize]="['Category.Update', 'Category.Create']" [disabled]="categoriesForm.invalid" [ngClass]="categoriesForm.invalid ?'cursorNotAllowed':'cursorPointer'" title="{{ categoriesForm.invalid ? 'Please fill in all the required fields' :  params ? 'Update' : 'Save'}}" class="btn btn-accent m-btn m-btn--air m-btn--custom float-right">
									 {{ params ? 'Update' : 'Save' }}
								</button>						
								<button type="reset" class="btn btn-secondary" (click)="onCancel()">
									Cancel
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>